*.eln
*.d
*.args
*.mk
*.sublime-project
*.sublime-workspace
.tags
.tags_sorted_by_file
log.txt
.cwGeneratedFileSetLog
ReferencedRSESystems.xml
*.eld
Basic Demo 9x31 - Debug/
psc9x31LibDebug/
psc9x31Lib/
.settings/
*.map



/application/phoenix_demo
/rdb_support/rdb_project/bsp_9131_rdb
